<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <style dynamic="true"> 

        <!-- Make Plain Grid --> 
        .GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row .z-cell,div.z-grid { 
            border: none; 
            overflow: hidden; 
            zoom: 1; 
            background: white; 
            border-top: none; 
            border-left: none; 
            border-right: none; 
            border-bottom: none; 
        }
        .mydb-disd {
            color: red !important; cursor: default !important; opacity: .6; -moz-opacity: .6; filter: alpha(opacity=60);    
            font-weight: bold;    
        }

    </style> 

    <window apply="shoponline.NewstockComposer" visible="false">

        <include mode="defer" src="/index.zul" />
        <h:br />
        <h:br />
        <div align="center">
            <grid>
                <columns>
                    <column label="กรอกข้อมูลสินค้า" align="center" style="font-size:14px;font-weight:bold;color:black;background:green;" />
                </columns>
                <rows>
                </rows>
            </grid>
            <grid id="listnamemode" sclass="GridLayoutNoBorder">
                <columns>
                    <column align="right" />
                    <column align="left" />
                    <column align="right" />
                    <column align="left" />
                    <column align="right" />
                    <column align="left" />
                </columns>
                <rows>
                    <row style="font-size:14px;font-weight:bold;color:black;background:pink;">
                        <label value="รหัสสินค้า*" style="font-size:14px;font-weight:bold;color:black" />
                        <textbox id="barcod" instant="true" style="font-size:14px;font-weight:bold;color:black;background:yellow;" />
                        <label value="ชื่อสินค้า*" style="font-size:14px;font-weight:bold;color:black" />
                        <textbox id="nameproduct" style="font-size:14px;font-weight:bold;color:black;background:yellow;" />
                        <label value="หมวดสินค้า*" style="font-size:14px;font-weight:bold;color:black" />
                        <combobox id="listmode" fulfill="onOpen" placeholder="เลือกหมวดสินค้า" style="font-size:14px;font-weight:bold;color:black;background:yellow;"/>
                    </row>
                    <row style="font-size:14px;font-weight:bold;color:black;background:pink;">
                        <label value="ราคาทุน*" style="font-size:14px;font-weight:bold;color:black" />
                        <hbox>
                            <doublebox id="pricetoon" format="0.##" style="font-size:14px;font-weight:bold;color:black;background:yellow;" /><label value="บาท" style="font-size:14px;font-weight:bold;color:black" />
                        </hbox>
                          <label value="ราคาขายปลีก*" style="font-size:14px;font-weight:bold;color:black" />
                        <hbox>
                            <doublebox id="priceperunit" format="0.##" style="font-size:14px;font-weight:bold;color:black;background:yellow;" /><label value="บาท" style="font-size:14px;font-weight:bold;color:black" />
                        </hbox>
                        <label value="ราคาขายส่ง*" style="font-size:14px;font-weight:bold;color:black" />
                        <hbox>
                            <doublebox id="priecbig" format="0.##" style="font-size:14px;font-weight:bold;color:black;background:yellow;" /><label value="บาท" style="font-size:14px;font-weight:bold;color:black" />
                        </hbox>
                    </row>
                    <row style="font-size:14px;font-weight:bold;color:black;background:pink;">
                        <label value="จำนวน*" style="font-size:14px;font-weight:bold;color:black" />
                        <hbox id="addcount">
                            <intbox id="countproduct" instant="true" style="font-size:14px;font-weight:bold;color:black;background:yellow;" />
                        </hbox>
                        <label value="วันที่นำเข้า*" style="font-size:14px;font-weight:bold;color:black" />
                        <datebox id="dateimport" locale="de_DE" format="dd/MM/yyyy" placeholder="เลือกวันที่นำเข้า" style="font-size:14px;font-weight:bold;color:black;background:yellow;" />
                        <label value="วันหมดอายุ*" style="font-size:14px;font-weight:bold;color:black" />
                        <datebox id="extdat" locale="de_DE" format="dd/MM/yyyy" placeholder="เลือกวันหมดอายุ" style="font-size:14px;font-weight:bold;color:black;background:yellow;" />
                    </row>
                    <row style="font-size:14px;font-weight:bold;color:black;background:pink;">
                        <label value="รายละเอียดเพื่มเติม" style="font-size:14px;font-weight:bold;color:black" />
                        <textbox id="detail" style="font-size:14px;font-weight:bold;color:black;background:yellow;" />
                        <label  />
                        <label  />
                        <label  />
                        <label  />
                    </row>
                </rows>
            </grid>
            <h:br />
            <hbox>
                <button id="save" image="/ext/images/icon/save.png" mold="trendy" />
                <button id="cancle" image="/ext/images/icon/cancle.png" mold="trendy" />
            </hbox>
            <h:hr />
            <combobox id="listmode2" fulfill="onOpen" placeholder="เลือกหมวดสินค้า" style="font-size:14px;font-weight:bold;color:black;background:yellow;" />
            <h:br />
            <h:br />
            <grid>
                <columns>
                    <column label="แสดงรายการสินค้าตามกลุ่ม" align="center" style="font-size:14px;font-weight:bold;color:black;background:green;" />
                </columns>
                <rows>
                </rows>
            </grid>
            <grid id="listproduct" mold="paging" pageSize="20">
                <columns>
                    <column align="center" label="รหัสสินค้า" sort="auto" style="font-size:14px;font-weight:bold;color:black;background:green;"/>
                    <column align="center" label="ชื่อสินค้า" sort="auto" style="font-size:14px;font-weight:bold;color:black;background:green;"/>
                    <column align="center" label="หมวดสินค้า" sort="auto" style="font-size:14px;font-weight:bold;color:black;background:green;"/>
                    <column align="center" label="ราคาทุน" sort="auto" style="font-size:14px;font-weight:bold;color:black;background:green;"/>
                    <column align="center" label="ราคาขายปลีก" sort="auto" style="font-size:14px;font-weight:bold;color:black;background:green;"/>
                    <column align="center" label="ราคาขายส่ง" sort="auto" style="font-size:14px;font-weight:bold;color:black;background:green;"/>
                    <column align="center" label="จำนวน" sort="auto" style="font-size:14px;font-weight:bold;color:black;background:green;"/>
                    <column align="center" label="วันที่นำเข้า" style="font-size:14px;font-weight:bold;color:black;background:green;" />
                    <column align="center" label="วันหมดอายุ" style="font-size:14px;font-weight:bold;color:black;background:green;" />
                    <column align="center" style="font-size:14px;font-weight:bold;color:black;background:green;" />
                </columns>
                <rows>
                </rows>
            </grid>
        </div>

    </window>

    <window id="windowpop" visible="false" title="เพิ่มจำนวนสินค้า" border="normal">
        <vbox>
            <label value="กรุณาเพิ่มจำนวนสินค้าค่ะ"/>
            <hbox>
                <intbox id="newcountpro" value="0" />
                <button id="savenewcount" label="OK" />
            </hbox>
        </vbox>
    </window>

    <window id="discount" visible="false" title="ลดจำนวนสินค้า" border="normal">
        <vbox>
            <label value="กรุณาลดจำนวนสินค้าค่ะ"/>
            <hbox>
                <intbox id="disnewcount" value="0" />
                <button id="savedisnew" label="OK" />
            </hbox>
        </vbox>
    </window>

</zk>